h1{
    color: coral;
    font-family: 'Dancing Script', cursive;
}

#content{
    width: 600px;
    border: 1px solid rebeccapurple;
    margin: auto;
    padding: 50px;
    background-color: #ccc5cc;
}

p{
    text-align: justify;
}

.portre{
    width: 150px ;
    float: left;
    margin-right: 20px;
}